$break-sm: 576px;
$break-md: 768px;
$break-lg: 992px;
$break-xl: 1200px;

@mixin break-sm {
    @media (min-width: $break-sm) {
        @content;
    }
}
@mixin break-md {
    @media (min-width: $break-md) {
        @content;
    }
}
@mixin break-lg {
    @media (min-width: $break-lg) {
        @content;
    }
}
@mixin break-xl {
    @media (min-width: $break-xl) {
        @content;
    }
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.1)
}

header {
    flex: 0 0 auto; 


    #containerButtons {
        display: flex;
        flex-wrap: nowrap;
        overflow-x: scroll;
        overflow-y: hidden;
    
        @include break-sm {
            overflow-x: auto;
            overflow-y: auto;
            flex-wrap: wrap;
        }

        button {
            white-space: nowrap;
        }
    }
}

main {
    flex: 1 1 auto;

    @include break-sm {

        .regionForm {
            order: 2;
        }

        .regionGifs {
            order: 1;
        }
    }

    .regionForm {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    .cardItem {
        border: 1px solid transparent;
        &:hover {
            border: 1px solid rgba(0, 0, 0, 0.3);
            background-color: rgba(255, 255, 255, 0.75);
        }
        p {
            margin: 0px;
            overflow: hidden;
            // white-space: nowrap;
            text-overflow: ellipsis;

        }
    }

    #containerSavedGifs {
        display: flex;
        flex-direction: row;
        overflow-x: scroll;

        @include break-sm {
            display: flex;
            flex-direction: column;
            overflow-x: auto;
        }
    }
}

footer {
    flex: 0 0 auto;
    background-color: rgba(255, 0, 0, 0.2);
}